<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benwunet.cards">

    <application
        android:name="com.benwunet.base.debug.DebugApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/cards_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.benwunet.cards.debug.DebugActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>