<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benwunet.user">

    <application>
        <activity
            android:name="com.benwunet.user.ui.activity.UserDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserNoticeActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserPrivacyActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserSettingActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserInfoActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserPublicInfoActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserSafeActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserPhoneActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserPwdActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.benwunet.user.ui.activity.UserPlatformActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.benwunet.user.ui.activity.UserRealResultActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserRealProveActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserRealInfoActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserRealNameActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserHomeActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserSeePeopleActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserCollectionActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserAboutActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserFollowActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.benwunet.user.ui.activity.UserBusinessActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserManageActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserReceivedActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserVisitorActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserLookCardActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserBillActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserBillDetailsActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.user.ui.activity.UserFansActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait" />


    </application>

</manifest>