<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benwunet.sign">

    <application>
        <activity
            android:name="com.benwunet.sign.ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.sign.ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.sign.ui.activity.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.sign.ui.activity.InputInfoFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.baidu.idl.face.platform.ui.FaceDetectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.benwunet.sign.ui.activity.FaceDetectExpActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>