<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benwunet.msg"


    >

    <application
        >

        <!--在自己组件中注册Activity-->
        <activity android:name="com.benwunet.msg.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.benwunet.msg.section.login.activity.SplashActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.benwunet.msg.section.login.activity.LoginActivity"
            android:screenOrientation="portrait"
            />
        <!--添加好友-->
        <activity android:name="com.benwunet.msg.section.contact.activity.AddContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AddContactTheme"/>
        <!--好友资料-->
        <activity android:name="com.benwunet.msg.section.contact.activity.ContactDetailActivity"
            android:screenOrientation="portrait"/>
        <!--聊天页面-->
        <activity
            android:name="com.benwunet.msg.section.chat.activity.ChatActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <!--群组列表-->
        <activity android:name="com.benwunet.msg.section.contact.activity.GroupContactManageActivity"
            android:screenOrientation="portrait"/>
        <!--聊天室列表-->
        <activity android:name="com.benwunet.msg.section.contact.activity.ChatRoomContactManageActivity"
            android:screenOrientation="portrait"/>
        <!--展示大图-->
        <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"/>
        <!--地图-->
        <activity android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait"/>
        <!--视频列表-->
        <activity android:name="com.benwunet.msg.section.chat.activity.ImageGridActivity"
            android:screenOrientation="portrait"/>
        <!--录制视频-->
        <activity android:name="com.benwunet.msg.section.chat.activity.RecorderVideoActivity"
            android:screenOrientation="portrait"/>
        <!--播放视频-->
        <activity android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"/>
        <!--视频通话-->
        <activity
            android:name="com.benwunet.msg.section.chat.activity.ChatVideoCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <!--语音通话-->
        <activity
            android:name="com.benwunet.msg.section.chat.activity.ChatVoiceCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <!--直播模式-->
        <activity
            android:name="com.benwunet.msg.section.chat.activity.LiveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <!--多人会议-->
        <activity
            android:name="com.benwunet.msg.section.conference.ConferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"/>
        <!--会议成员邀请-->
        <activity
            android:name="com.benwunet.msg.section.conference.ConferenceInviteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!--添加现有好友-->
        <activity android:name="com.benwunet.msg.section.chat.activity.PickAtUserActivity"
            android:screenOrientation="portrait"/>
        <!--转发好友列表-->
        <activity android:name="com.benwunet.msg.section.chat.activity.ForwardMessageActivity"
            android:screenOrientation="portrait"/>
        <!--群组详情-->
        <activity android:name="com.benwunet.msg.section.group.activity.GroupDetailActivity"
            android:screenOrientation="portrait"/>
        <!--聊天室详情-->
        <activity android:name="com.benwunet.msg.section.group.activity.ChatRoomDetailActivity"
            android:screenOrientation="portrait"/>
        <!--群分享文件-->
        <activity android:name="com.benwunet.msg.section.group.activity.GroupSharedFilesActivity"
            android:screenOrientation="portrait"/>
        <!--邀请群成员-->
        <activity android:name="com.benwunet.msg.section.group.activity.GroupPickContactsActivity"
            android:screenOrientation="portrait"/>
        <!--群成员身份统计-->
        <activity android:name="com.benwunet.msg.section.group.activity.GroupMemberTypeActivity"
            android:screenOrientation="portrait"/>
        <!--群成员权限管理-->
        <activity android:name="com.benwunet.msg.section.group.activity.GroupMemberAuthorityActivity"
            android:screenOrientation="portrait"/>
        <!--群管理员管理-->
        <activity android:name="com.benwunet.msg.section.group.activity.GroupAdminAuthorityActivity"
            android:screenOrientation="portrait"/>
        <!--聊天室成员权限管理-->
        <activity android:name="com.benwunet.msg.section.group.activity.ChatRoomMemberAuthorityActivity"
            android:screenOrientation="portrait"/>
        <!--聊天室管理员管理-->
        <activity android:name="com.benwunet.msg.section.group.activity.ChatRoomAdminAuthorityActivity"
            android:screenOrientation="portrait"/>
        <!--新建群组-->
        <activity android:name="com.benwunet.msg.section.group.activity.NewGroupActivity"
            android:screenOrientation="portrait"/>
        <!--新建聊天室-->
        <activity android:name="com.benwunet.msg.section.group.activity.NewChatRoomActivity"
            android:screenOrientation="portrait"/>
        <!--系统通知-->
        <activity android:name="com.benwunet.msg.section.message.SystemMsgsActivity"
            android:screenOrientation="portrait"/>
        <!--安全与隐私首页-->
        <activity android:name="com.benwunet.msg.section.me.activity.PrivacyIndexActivity"
            android:screenOrientation="portrait"/>
        <!--联系人黑名单-->
        <activity android:name="com.benwunet.msg.section.contact.activity.ContactBlackListActivity"
            android:screenOrientation="portrait"/>
        <!--下载并展示文件-->
        <activity android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait"/>
        <!--设置-->
        <activity android:name="com.benwunet.msg.section.me.activity.SetIndexActivity"
            android:screenOrientation="portrait"/>
        <!--账号与安全-->
        <activity android:name="com.benwunet.msg.section.me.activity.AccountSecurityActivity"
            android:screenOrientation="portrait"/>
        <!--输入用户名密码-->
        <activity android:name="com.benwunet.msg.section.me.activity.NamePasswordActivity"
            android:screenOrientation="portrait"/>
        <!--多端多设备管理-->
        <activity android:name="com.benwunet.msg.section.me.activity.MultiDeviceActivity"
            android:screenOrientation="portrait"/>
        <!--新消息提醒-->
        <activity android:name="com.benwunet.msg.section.me.activity.MessageReceiveSetActivity"
            android:screenOrientation="portrait"/>
        <!--通用设置-->
        <activity android:name="com.benwunet.msg.section.me.activity.CommonSettingsActivity"
            android:screenOrientation="portrait"/>
        <!--消息推送设置-->
        <activity android:name="com.benwunet.msg.section.me.activity.OfflinePushSettingsActivity"
            android:screenOrientation="portrait"/>
        <!--关于环信IM-->
        <activity android:name="com.benwunet.msg.section.me.activity.AboutHxActivity"
            android:screenOrientation="portrait"/>
        <!--开发者服务-->
        <activity android:name="com.benwunet.msg.section.me.activity.DeveloperSetActivity"
            android:screenOrientation="portrait"/>
        <!--自定义AppKey-->
        <activity android:name="com.benwunet.msg.section.me.activity.AppKeyManageActivity"
            android:screenOrientation="portrait"/>
        <!--添加自定义AppKey-->
        <activity android:name="com.benwunet.msg.section.me.activity.AppKeyAddActivity"
            android:screenOrientation="portrait"/>
        <!--诊断-->
        <activity android:name="com.benwunet.msg.section.me.activity.DiagnoseActivity"
            android:screenOrientation="portrait"/>
        <!--iOS离线推送昵称-->
        <activity android:name="com.benwunet.msg.section.me.activity.OfflinePushNickActivity"
            android:screenOrientation="portrait"/>
        <!--通话设置-->
        <activity android:name="com.benwunet.msg.section.me.activity.CallOptionActivity"
            android:screenOrientation="portrait"/>
        <!--聊天信息-->
        <activity android:name="com.benwunet.msg.section.chat.activity.SingleChatSetActivity"
            android:screenOrientation="portrait"/>
        <!--搜索聊天室-->
        <activity android:name="com.benwunet.msg.section.search.SearchChatRoomActivity"
            android:screenOrientation="portrait"/>
        <!--搜索群组-->
        <activity android:name="com.benwunet.msg.section.search.SearchGroupActivity"
            android:screenOrientation="portrait"/>
        <!--搜索会话-->
        <activity android:name="com.benwunet.msg.section.search.SearchConversationActivity"
            android:screenOrientation="portrait"/>
        <!--搜索联系人-->
        <activity android:name="com.benwunet.msg.section.search.SearchFriendsActivity"
            android:screenOrientation="portrait"/>
        <!--搜索群聊会话-->
        <activity android:name="com.benwunet.msg.section.search.SearchGroupChatActivity"
            android:screenOrientation="portrait"/>
        <!--搜索单人会话-->
        <activity android:name="com.benwunet.msg.section.search.SearchSingleChatActivity"
            android:screenOrientation="portrait"/>
        <!--搜索黑名单用户-->
        <activity android:name="com.benwunet.msg.section.search.SearchBlackActivity"
            android:screenOrientation="portrait"/>
        <!--搜索公开群-->
        <activity android:name="com.benwunet.msg.section.search.SearchPublicGroupActivity"
            android:screenOrientation="portrait"/>
        <!--聊天历史-->
        <activity android:name="com.benwunet.msg.section.chat.activity.ChatHistoryActivity"
            android:screenOrientation="portrait"/>
        <!--个人资料-->
        <activity android:name="com.benwunet.msg.section.me.activity.UserDetailActivity"
            android:screenOrientation="portrait"/>
        <!--意见反馈-->
        <activity android:name="com.benwunet.msg.section.me.activity.FeedbackActivity"
            android:screenOrientation="portrait"/>
        <!--已读回执列表-->
        <activity android:name="com.hyphenate.easeui.ui.EaseDingAckUserListActivity"
            android:screenOrientation="portrait"/>
        <!--公开群详情页-->
        <activity android:name="com.benwunet.msg.section.group.activity.GroupSimpleDetailActivity"
            android:screenOrientation="portrait"/>
        <!--群组管理-->
        <activity android:name="com.benwunet.msg.section.group.activity.GroupManageIndexActivity"
            android:screenOrientation="portrait"/>
        <!--移交权限-->
        <activity android:name="com.benwunet.msg.section.group.activity.GroupTransferActivity"
            android:screenOrientation="portrait"/>
        <!--播放视频-->
        <activity android:name="com.hyphenate.easeui.ui.EaseShowLocalVideoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <!--创群预选成员-->
        <activity android:name="com.benwunet.msg.section.group.activity.GroupPrePickActivity"
            android:screenOrientation="portrait"/>
        <!--推送消息显示样式-->
        <activity android:name="com.benwunet.msg.section.me.activity.MessagePushStyleActivity" />
        <!--WebView加载网页-->
        <activity android:name="com.benwunet.msg.section.base.WebViewActivity" />

        <!--捕获屏幕service-->
        <service android:name="com.benwunet.msg.section.conference.SRForegroundService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"/>
    </application>
</manifest>
